.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
    background-image: url('../Image/home1.jpeg');
    background-size: cover; /* Esto cubrirá todo el div sin estirar la imagen */
    background-position: center;

  }
  
  .title {
    color: #313131;
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Tarjetas responsivas */
    gap: 20px; /* Espacio entre tarjetas */
    width: 100%;
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: auto; /* Centrado horizontal */
  }
  
  /* Estilo para el selector de filtros */
  select {
    margin: 10px;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
  }
  
  /* Estilo para opciones de paginación, si se añaden después */
  .paginated {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .paginated li {
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .paginated li.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  
  /* Media query para responsividad */
  @media (max-width: 600px) {
    .cardContainer {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
 

  