.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.btn {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

.btn:hover {
    background-color: #0056b3;
}

.btn:active {
    transform: scale(0.98); /* Efecto de clic */
}

