.btn {
    background-color: rgb(195, 50, 50);
    color: #eccd07;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: #e0e0e0;
    /* box-shadow: 0 0 10px rgb(98, 0, 255), 0 0 40px rgb(98, 0, 255), 0 0 80px rgb(98, 0, 255); */
}

/* .btn:hover{
    background: rgb(19, 8, 134);
    color: #c5f908;
} */